<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="../autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <php>
        <ini name="error_reporting" value="-1" />
    </php>
    <testsuites>
        <testsuite name="Meower Test Suite">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>